<form [formGroup]="stateDeviceForm" (ngSubmit)="edit()">
    <h1>{{telemetry.name}}</h1>
    <hr>
    <mat-tab-group animationDuration="0ms">
        <mat-tab>
            <ng-template mat-tab-label>
                Specific Telemetry
            </ng-template>

            <ol class="list-group mt-2" *ngFor="let stateDevice of stateTelemetry.states">
                <div *ngIf="stateDevice.id == idStateDevice; then liToEdit else liNormal"></div>

                <ng-template #liToEdit>
                    <li class="list-group-item d-flex align-items-start" style="background-color: aliceblue;">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <b>Name</b><br>
                                <input type="text" class="form-control" formControlName="name" required>
                                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                                    <div *ngIf="name?.errors?.['required']">
                                        <div class="invalid-feedback">A name is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-2">
                                <b>Value</b><br>
                                <input type="text" class="form-control" formControlName="value" required>
                                <div *ngIf="value?.invalid && (value?.dirty || value?.touched)">
                                    <div *ngIf="value?.errors?.['required']">
                                        <div class="invalid-feedback">A value is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end mt-2">
                            <button type="reset" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
                            &nbsp;
                            <button type="submit" class="btn btn-primary" [disabled]="!stateDeviceForm.valid">Save</button>
                        </div>
                    </li>
                </ng-template>

                <ng-template #liNormal>
                    <li class="list-group-item d-flex align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{stateDevice.name | titlecase}}</div>
                            Value: {{stateDevice.value}}
                        </div>
                    </li>
                </ng-template>
            </ol>
        </mat-tab>
    </mat-tab-group>
</form>