<form [formGroup]="telemtryProfileForm" (ngSubmit)="editTelemetry()">
    <div class="form-floating needs-validation row">
        <input type="text" class="form-control" formControlName="Name" id="name" required>
        <label for="name">Name</label>
        <div *ngIf="Name?.invalid && (Name?.dirty || Name?.touched)">
            <div *ngIf="Name?.errors?.['required']">
                <div class="invalid-feedback">The name is required</div>
            </div>
        </div>
        <div *ngIf="!Name?.invalid && !Name?.errors?.['required']">
            <div class="valid-feedback">¡Valid Name!</div>
        </div>
    </div>
    <hr>
    <mat-tab-group animationDuration="0ms">
        <mat-tab>
            <ng-template mat-tab-label>
                Telemetries Profile
            </ng-template>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>BASIC INFO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <b>Frecuency</b><br>
                                <div class="needs-validation">
                                    <input type="number" class="form-control" formControlName="Frecuency" id="name" required>
                                    <div *ngIf="Frecuency?.invalid && (Frecuency?.dirty || Frecuency?.touched)">
                                        <div *ngIf="Frecuency?.errors?.['required']">
                                            <div class="invalid-feedback">The Frecuency is required</div>
                                        </div>
                                    </div>
                                    <div *ngIf="!Frecuency?.invalid && !Frecuency?.errors?.['required']">
                                        <div class="valid-feedback">¡Valid Frecuency!</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <b>Type</b><br>
                                <select class="form-select" formControlName="Type">
                                    <option value="1">State</option>
                                    <option value="2">Event</option>
                                    <option value="3">Location</option>
                                    <option value="4">Sensor</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <b>Unit</b><br>
                                <select class="form-select" formControlName="Unit">
                                    <option value="1">Percent</option>
                                    <option value="2">Degree farenheit</option>
                                    <option value="3">Degree celsius</option>
                                    <option value="4">Geolocation</option>
                                    <option value="5">Steps</option>
                                    <option value="6">Beats per minute</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <b>Schema</b><br>
                                <select class="form-select" formControlName="Schema">
                                    <option value="1">Autogenerated</option>
                                    <option value="2">Enum</option>
                                    <option value="3">Integer</option>
                                    <option value="4">String</option>
                                    <option value="5">Double</option>
                                    <option value="6">Boolean</option>
                                    <option value="7">Text</option>
                                    <option value="8">Long</option>
                                    <option value="9">Time</option>
                                    <option value="10">Date</option>
                                    <option value="11">Object</option>
                                    <option value="12">OID</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
    </mat-tab-group>

    <div class="d-flex justify-content-end mt-2">
        <button type="reset" class="btn btn-outline-secondary" (click)="cancelDeviceTelemetry()">Cancel</button>
        &nbsp;
        <button type="submit" class="btn btn-primary" [disabled]="!telemtryProfileForm.valid">Save</button>
    </div>
</form>