<div class="row">
    <div class="col">
        <h1>{{goal.Name | titlecase}}</h1>
    </div>
    <div class="col">
        <div class="d-flex justify-content-end">
            <a id="btnAtras" class="btn btn-outline-secondary" routerLink="../../../{{this.carePlan.Id}}">Back</a>
            &nbsp;
            <button class="btn btn-outline-danger" (click)="removeDialog()">Remove goal</button>
        </div>
    </div>    
</div>
<hr>
<div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>show_chart</mat-icon>
            Goals
        </ng-template>
        <dataTable [dataSource] = tableDetailsDataSource></dataTable>
        <div class="d-flex justify-content-end mt-2">
            <a class="btn btn-success" (click)="editGoal()">Edit</a>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>list_alt</mat-icon>
            Target
        </ng-template>
        <care-plan-target-detail [goal]="goal"></care-plan-target-detail>
    </mat-tab>
  </mat-tab-group>
</div>