<div class="row">
    <div class="col">
        <h1>{{careActivity.Name | titlecase}}</h1>
    </div>
    <div class="col">
        <div class="d-flex justify-content-end">
            <a id="btnAtras" class="btn btn-outline-secondary" routerLink="../../../{{this.carePlan.Id}}">Back</a>
            &nbsp;
            <button class="btn btn-outline-danger" (click)="removeDialog()">Remove care activity</button>
        </div>
    </div>    
</div>
<hr>
<div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>receipt</mat-icon>
            Care Activity Detail
        </ng-template>
        <dataTable [dataSource] = tableDetailsDataSource></dataTable>
        <div class="d-flex justify-content-end mt-2">
            <a class="btn btn-success" (click)="editCareActivity()">Edit</a>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>local_hospital</mat-icon>
            Medication
        </ng-template>
        <dataTable [dataSource] = tableMedicationDataSource></dataTable>
        <div class="d-flex justify-content-end mt-2">
            <a class="btn btn-success" (click)="editCareActivityMedication()">Edit</a>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>restaurant</mat-icon>
            Nutrition Order
        </ng-template>
        <dataTable [dataSource] = tableNutritionOrderDataSource></dataTable>
        <div class="d-flex justify-content-end mt-2">
            <a class="btn btn-success" (click)="editCareActivityNutrition()">Edit</a>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>storage</mat-icon>
            Appoinments
        </ng-template>
        <dataTable [dataSource] = tableAppoinmentsDataSource></dataTable>
        <div class="d-flex justify-content-end mt-2">
            <a class="btn btn-success" (click)="editCareActivityAppointment()">Edit</a>
        </div>
    </mat-tab>
  </mat-tab-group>
</div>