<ol class="list-group mt-2" *ngFor="let target of goal.Targets">
    <li class="list-group-item d-flex align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">{{target.DueDate | date}}</div>
            <div>Desired Value: {{target.DesiredValue}}</div>
            <div>Description: {{target.Description | titlecase}}</div>
            <div>Measure: {{target.Measure?.Name | isAssigned | titlecase}}</div>
        </div>
        <div>
            <button class="btn btn-outline-success" (click)="editTarget(target.Id)">Edit</button>
            <button class="btn btn-outline-danger" (click)="removeDialog(target.Id)">Remove</button>
        </div>
    </li>
</ol>

<div class="d-flex justify-content-end mt-2">
    <a class="btn btn-primary" (click)="createTarget()">Create new</a>
</div>