<ol class="list-group mt-2" *ngFor="let target of goal.targets">
    <li class="list-group-item d-flex align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">{{target.dueDate | date}}</div>
            <div>Desired Value: {{target.desiredValue}}</div>
            <div>Description: {{target.description | titlecase}}</div>
            <div>Measure: {{target.measure?.name | isAssigned | titlecase}}</div>
        </div>
        <div>
            <button class="btn btn-outline-success" (click)="editTarget(target.id)">Edit</button>
            <button class="btn btn-outline-danger" (click)="removeDialog(target.id)">Remove</button>
        </div>
    </li>
</ol>

<div class="d-flex justify-content-end mt-2">
    <a class="btn btn-primary" (click)="createTarget()">Create new</a>
</div>