<form [formGroup]="deviceCommandForm" (ngSubmit)="editDeviceCommand()">
    <div class="form-floating needs-validation row">
        <input type="text" class="form-control" formControlName="Name" id="name" required>
        <label for="name">Name</label>
        <div *ngIf="Name?.invalid && (Name?.dirty || Name?.touched)">
            <div *ngIf="Name?.errors?.['required']">
                <div class="invalid-feedback">The name is required</div>
            </div>
        </div>
        <div *ngIf="!Name?.invalid && !Name?.errors?.['required']">
            <div class="valid-feedback">¡Valid Name!</div>
        </div>
    </div>
    <hr>
    <mat-tab-group animationDuration="0ms">
        <mat-tab>
            <ng-template mat-tab-label>
                Command profile
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <table class="table">
        <thead>
            <tr>
                <th>BASIC INFO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div>
                        <b>Synchronous</b><br>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" formControlName="Synchronous">
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <b>Type</b><br>
                        <select class="form-select" formControlName="Type">
                            <option value="1">Create</option>
                            <option value="2">Execute</option>
                            <option value="3">Delete</option>
                            <option value="4">Update</option>
                            <option value="5">Get By ID</option>
                            <option value="6">Get Property</option>
                            <option value="7">Set Property</option>
                            <option value="8">List</option>
                            <option value="9">Reboot</option>
                            <option value="10">Login</option>
                        </select>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <b>Description</b><br>
                        <textarea class="form-control" formControlName="Description" required></textarea>
                        <div *ngIf="Description?.invalid && (Description?.dirty || Description?.touched)">
                            <div *ngIf="Description?.errors?.['required']">
                                <div class="invalid-feedback">A description is required</div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end mt-2">
        <button type="reset" class="btn btn-outline-secondary" (click)="cancelDeviceCommand()">Cancel</button>
        &nbsp;
        <button type="submit" class="btn btn-primary" [disabled]="!deviceCommandForm.valid">Save</button>
    </div>
</form>